button {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.column-header button.delete-button,
.task-item form button {
    width: 44px;
}

form.column_title {
    margin: 0 8px;
    width: 100%;
}

form#reglog {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    background-color: var(--background-color-3);
    color: var(--text-color)
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: var(--focus-border-color);
    outline: 0;
}

input.column_title {
    border: 0;
    width: 100%;
    background: transparent;
}

.task-actions form input[type="text"] {
    background: transparent;
    border: 0;
    width: 100%;
}

input.column_title:focus,
.task-actions form input[type="text"]:focus {
    border-bottom: var(--focus-border-color) solid 1px;
}

input.new_column {
    width: 100%;
}

.logout button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    color: #5f6368;
}

.task-completed {
    opacity: .5;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;
}

.task_add_form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.task_add_form input[type=text] {
    width: 100%;
}

.task-delete-form, .task-toggle-completion-form {
    height: 24px;
}
