@media (max-width: 768px) {
    .user-panel {
        display: block;
        width: 100%;
        display: flex;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    .logout {
        bottom: auto;
        left: auto;
        top: 16px;
        right: 16px;
    }

    .task-board {
        margin-left: 0;
        margin-top: 16px;
    }

    .task-column {
        flex:auto;
    }
}

@media (max-width: 425px) {
    .column-header button.delete-button,
    .task-item form button {
        width: fit-content;
    }
    .column-title {
        margin-left: 0;
    }
    .task-actions {
        gap: 8px;
    }
}

